aiofiles==0.6.0
arrow==0.17.0
certifi==2020.11.08
configupdater
cryptography==3.4.4
fastapi==0.63.0
filelock==3.0.12
httpx==0.16.1
httpx[http2]==0.16.1
loguru==0.5.3
PyJWT==2.0.1
python-box==5.2.0
tenacity==8.0.1
uvicorn==0.13.3
validators==0.18.2
