body {
    background: #F2F2F7;
    margin: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.title {
    background: linear-gradient(to right, #E89E52, #D7403F);
    overflow: hidden;
}

.title h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3em;
    font-family: futura;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.navigation_bar {
    overflow: hidden;
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.navigation_bar a {
    box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 0.8em;
	font-weight: bold;
	padding: 13px 32px;
	text-decoration: none;
    opacity: 1;
    border-style: solid;
    border-radius: 18px;
    box-shadow: inset 0 0 0 0 #2F5C66;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

.navigation_bar a:hover {
    border-radius: 0px;
    box-shadow: inset 400px 0 0 0 #D84F4F;
}

.iphone_preview {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 268px;
    height: 565px;
}

.preview_image_row {
    display: flex;
    margin: 10px;
    overflow-x: auto;
}

.preview_image_column {
    flex: auto;
}

.preview_text {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    padding-left: 5em;
    padding-right: 5em;
    color: #000000;
    text-decoration: none;
}
